@import "~bootstrap/scss/bootstrap";
@import "~material-icons/iconfont/material-icons.scss";
@import "~cropperjs";

.va-m {
  vertical-align: middle;
}
.mw-600 {
  max-width: 600px;
}
.ta-c {
  text-align: center;
}
.flex-1 {
  flex: 1;
}
.c-pointer {
  cursor: pointer;
}
