@import "~bootstrap/scss/bootstrap";
@import "~material-icons/iconfont/material-icons.scss";
@import "~cropperjs";

.va-m {
  vertical-align: middle;
}
.mw-600 {
  max-width: 600px;
}
.ta-c {
  text-align: center;
}
.flex-1 {
  flex: 1;
}
.c-pointer {
  cursor: pointer;
}

//.was-validated .form-control.is-valid {
//  border-color: #198754 !important;
//  padding-right: calc(1.5em + 0.75rem) !important;
//  background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 8 8%27%3e%3cpath fill=%27%23198754%27 d=%27M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z%27/%3e%3c/svg%3e') !important;
//  background-repeat: no-repeat !important;
//  background-position: right calc(0.375em + 0.1875rem) center !important;
//  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
//}
//
//.was-validated .form-control.is-valid:focus {
//  border-color: #198754 !important;
//  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25) !important;
//}
//
//.was-validated .form-control.is-invalid {
//  border-color: #dc3545 !important;
//  padding-right: calc(1.5em + 0.75rem) !important;
//  background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12 12%27 width=%2712%27 height=%2712%27 fill=%27none%27 stroke=%27%23dc3545%27%3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23dc3545%27 stroke=%27none%27/%3e%3c/svg%3e') !important;
//  background-repeat: no-repeat !important;
//  background-position: right calc(0.375em + 0.1875rem) center !important;
//  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
//}
//
//.was-validated .form-control.is-invalid:focus {
//  border-color: #dc3545 !important;
//  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25) !important;
//}
